.heading 
{
    padding-top: 30px;

}

#txt {
    transition: transform .2s;
    width: 33%;
    height: 80px;
    margin: 0;
  }
  
  #txt:hover {
    transform: scale(1);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }